
body{
    background-color: white;
}

#navigation {
    position: relative;
    

    li{
        list-style: none;
        display: inline-block;
        flex-direction: row;
        position: relative;
        width:fit-content;
        margin-right: 2vw;
    }

    a{
        padding: 4%;
        text-decoration: none;
        text-transform: none;
        border-radius: 10px;
        color: black;
        font-weight: 700;
        text-indent: none;
        font-size: 100%;
    }

    a:hover{
        border-bottom: 3px solid black;
    }
}

