
body{
    background-color: white;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}

#navigation {
    margin-top: 2vh;
    position: relative;
    justify-content: center;
    font-size: 1em;
    

    li{
        list-style: none;
        display: inline-block
    }

    #navNames{
        display: none;
    }

    @media (min-width: 40.0rem) {
        #navNames{
            display:inline;
        }
    }


    a{
        text-decoration: none;
        text-transform: none;
        border-radius: 10px;
        color: black;
        font-weight: 700;
    }

    button:hover {
        background-color: purple;
        color: white;
    }

    
}

table{
    caption{
        text-align: left;
        font-weight: 900;
        
    }
}





